#product {
  height: 430px;
  overflow-y: hidden;
  text-align: center;
  align-content: center;
  padding: 10px;
  margin: 0px;
}

#product p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: #0066c0;
}
#product:hover {
  background-color: whitesmoke;
  border: 1px #c3c9cd solid;
  border-radius: 10px;
}

.a-inline-block, .aok-inline-block {
  display: inline-block;
}

.image {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 200px;
  vertical-align: middle;
}
