<div class="container-fluid" id="sidepanel">
  <form>
    <fieldset class="form-group">
      <legend>Caterories</legend>
      <ul>
        <li><a role="button">Phones</a></li>
        <li><a role="button">Laptops</a></li>
      </ul>
    </fieldset>
    <hr>
    <fieldset class="form-group">
      <legend>Brands</legend>
      <div class="form-group">
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox">Label</label>
        </div>
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox">Label</label>
        </div>
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox">Label</label>
        </div>
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox">Label</label>
        </div>
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox">Label</label>
        </div>
      </div>
    </fieldset>
    <hr>
    <fieldset class="form-group">
      <legend>Price</legend>
      <label>Enter max Price:</label>
        <input class="input-sm" type="text"
               name="min" placeholder="{{price}}"
               inputmode="numeric"
               (input)="price = $event.target.value"
               id="input">
        <button class="btn btn-default" type="button" (click)="onPriceChange()">GO</button>
        <input type="range" name="{{minPrice}}" min="1" max="{{maxPrice}}" step="1"
               (input)="price = $event.target.value" value="{{price}}">
    </fieldset>
  </form>
</div>

