<div class="container-fluid" id="sidepanel">
  <h3>catagory </h3>
  <ul>
    <li><a role="button">Phones</a></li>
    <li><a role="button">Laptops</a></li>
  </ul>
  <div>
    <h3>Brands </h3>
    <div class="form-group">
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox">Label</label>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox">Label</label>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox">Label</label>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox">Label</label>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox">Label</label>
      </div>
    </div>
  </div>
  <div>
    <h3>Price </h3>
    <div class="form-group">
      <input class="input-sm" type="text" name="min" placeholder="Min" inputmode="numeric">
      <button class="btn btn-default" type="button">GO</button>
      <input type="range" name="pricemax" min="1" max="100" step="1">
    </div>
  </div>
</div>

