#products {
  height: 600px;
  overflow-y: scroll;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}

#container {
  text-align: center;
  padding: 0px;
  border-top: 1px #c3c9cd inset;
  border-right: 1px #c3c9cd inset;
}

#heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #101010;
  margin-top: -20px;
}

#sort-row {
  text-align: left;
  margin-right: 10px;
}

.break{
  margin: 0px;
}

#searchbar {
  margin: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
