 <div class="container-fluid" id="container">
   <div id="heading">
     <h2><strong> Products </strong></h2>
   </div>
   <hr>
   <div class="input-group" id="searchbar">
     <div class="input-group-addon"><span>category <span class="caret"></span></span></div>
     <input class="form-control" type="text">
     <div class="input-group-btn">
       <button class="btn btn-default" type="button">Search!</button>
     </div>
   </div>
   <hr class="break">
    <div class="row" id="sort-row">
      <form class="form-group-sm" id="sort">
        <input type="radio" [(ngModel)]="sortType"  name="sort"
               value="relevance" (click)="sort()"/><label>Relevance <span> </span></label>
        <input type="radio" [(ngModel)]="sortType" name="sort"
               value="priceAscending" (click)="sort()"/><label>Price ascending  </label>
        <input type="radio" [(ngModel)]="sortType" name="sort"
               value="priceDescending" (click)="sort()"/><label>Price descending  </label>
      </form>
    </div>
   <hr class="break">
    <div class="row" id="products">
      <div class="col-md-4" *ngFor="let product of products">
        <app-product [product]="product"></app-product>
      </div>
    </div>
  </div>

