#products {
  height: 400px;
  overflow-y: scroll;
}

#container {
  background-color: rgba(156,197,211,0.75);
  text-align: center;
  border-left: groove ghostwhite 4px;
}

#sort-row {
  text-align: right;
  padding-right: 10px;
}

.break{
  margin: 0px;
}
