 <div class="container-fluid" id="container">
   <h2>Products </h2>
   <hr class="break">
    <div class="row" id="sort-row">
      <form class="form-group-sm" id="sort">
        <input type="radio" [(ngModel)]="sortType"  name="sort"
               value="relevance" (click)="sort()"/><label>Relevance <span> </span></label>
        <input type="radio" [(ngModel)]="sortType" name="sort"
               value="priceAscending" (click)="sort()"/><label>Price ascending  </label>
        <input type="radio" [(ngModel)]="sortType" name="sort"
               value="priceDescending" (click)="sort()"/><label>Price descending  </label>
      </form>
    </div>
   <hr class="break">
    <div class="row" id="products">
      <div class="col-md-4" *ngFor="let product of products">
        <app-product [product]="product"></app-product>
      </div>
    </div>
  </div>

